.panel{
    .panel-body{
        h1{
            text-align: center;
        }
        ul{
            width: 20%;
            margin-top: 20px;
            button{
                float: right;
            }
            .nameHero{
              
            }
        }
    }
   
}
