.container {
  .panel {
    .panel-heading {
      button {
        margin: 10px 10px;
        background-color: #eeeeec;
      }
      button:hover {
        color: rgb(64, 75, 175);
      }
    }
  }
}
