.container{
    .panel{
        .panel-heading {
            button{
                margin: 10px 10px;
            }
            button:hover{
                color: rgb(44, 57, 172);
            }
        }
    }
}