.panel {
  .listHero {
    h1 {
      text-align: center;
    }
    .row {
      margin-top: 40px;
      text-align: center;
      text-decoration: none;
      a {
        .block {
          background-color: rgba(3, 61, 61, 0.692);
          height: 70px;
          width: 190px;

          h2 {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
          }
        }
        a:hover {
          background-color: rgb(202, 202, 202);
        }
      }
    }
  }
  .mg20 {
    margin: 20px;
  }
}
